# Global concepts & operators
**Operators that work on multiple Python objects (Python enables operator overloading).**

**Essential python concepts.**

## Operators

**Assignment operator = **

In [ ]:
int_    = 5                                     # int
float_  = 4.0                                   # float
string_ = "hello"                               # string
list_   = [1, 2, 3]                             # list
dict_   = {'Boss': 'Pat', 'Engineer': 'Harry'}  # dict
set_    = {1, 2}                                # set
tuple_  = (1, 2, 3)                             # tuple

In [ ]:
# print operator --> Python 3: print() function
print "int   : ", int_
print "float : ", float_
print "string: ", string_
print "list  : ", list_
print "dict  : ", dict_
print "set   : ", set_
print "tuple : ", tuple_

**Concatenation operator  +**

In [ ]:
int_ + float_

In [ ]:
string_ + " world!"

In [ ]:
list_ + [3, 4, 5, 6]

In [ ]:
tuple_ + (4, 5, 6)

**Repetition operator ***

In [ ]:
int_ * float_

In [ ]:
string_ * 3

In [ ]:
list_ * 3

In [ ]:
tuple_ * 3

**Comparison operator ==**

In [ ]:
# equal ==
print int_    == 6
print float_  == 3.0
print string_ == "hell"
print list_   == [1, 3, 4]
print dict_   == {'Boss': 'Pat', 'Engineer': 'Bob'}
print set_    == {1, 2, 3}
print tuple_  == (1, 2, 3, 4)

In [ ]:
# superior
print int_    > 10
print float_  > 10.0
print string_ > "jello"

In [ ]:
# inferior
print int_    < 10
print float_  < 10.0
print "hello" < "helli"

**Other operators**

**```type(obj)```**

In [ ]:
# type(obj)
print type(int_)
print type(float_)
print type(string_)
print type(dict_)
print type(set_)
print type(tuple_)

In [ ]:
# check type
type(float_) == float

**```isinstance(obj, type)```**

In [ ]:
# isinstance(obj, type)
print isinstance(100, int) 
print isinstance(100.5, float) 
print isinstance("hello", str) 
print isinstance(['a', 'b'], list) 
print isinstance({"a": 1, "b": 2}, dict) 
print isinstance({'a', 'b', 'c'}, set)
print isinstance(('a', 'b', 'c'), tuple)

**```len(obj)```**

In [ ]:
# len(obj)
print len([1, 2, 3])
print len({'a': 1, 'b': 2})
print len({'a', 'b'})
print len(('a', 1, 'b'))
print len("hello")

**```obj in other_obj```**

In [ ]:
# in
print 'hello' in "hello world"
print 1 in [2, 4, 6, 1]
print 2 in {'a', 3, 'b', 2}
print 1 in (('a', 'b', 'c'))

**```if obj```** - *Object existence or non-emptyness*

In [ ]:
# object existence or non-emptyness
if string_:
    print "String is defined and is not empty !"
if list_:
    print "List is defined and not empty !"
if set_:
    print "Set is defined and not empty"
if tuple_:
    print "Tuple is defined and not empty"

**```del(obj)```** - *Removes obj from memory*

In [ ]:
string_ = "ok"
del string_

string_

**```all(iterable)```** - *Return True if all elements of the iterable are true (or if the iterable is empty).*

In [ ]:
# all elements of list True
all([True, True, True, True, True, True])

In [ ]:
# all elements of tuple True
all((True, True))

In [ ]:
# empy list

In [ ]:
all([])

**```any(iterable)```**  - *Return True if any element of the iterable is true. If the iterable is empty, return False.*

In [ ]:
# list
any([True, True, True, False, True, True])

In [ ]:
# tuple
any((True, False, False, False))

In [ ]:
# empty list

In [ ]:
any([])

**```map(function, iterable)```** - ***Apply a function to a collection of elements***

In [ ]:
map(lambda x: x + 1, [1, 2, 3])

In [ ]:
def f(x):
    return x + 1

l = [1, 2, 3]
map(f, l)

## Loops

**FOR**

In [ ]:
# loop through a range
for i in range(5):
    print i
print

# loop through a range (memory-friendly, uses xrange generator)
for i in xrange(5):
    print i

In [ ]:
# loop through string
s = "Hello"
for c in s:
    print c

print
# loop through list
import random
l = ["a", 1, random.randint(1, 10)]
for obj in l:
    print obj

print
# loop through dictionary keys
d = {"Jack": "Architect", "John": "Engineer"}
for key in d:
    print key
    
print
# loop through dictionary values
for val in d.values():
    print val
    
# loop through dictionary keys AND values
for k, v in d.iteritems():
    print k, v 
    
print
# loop through set values
s = {'a', 'b', 'c'}
for val in s:
    print val

***```enumerate(s)``` - Following works only on enumerables (string, list, dictionaries, set)***

In [ ]:
# loop through string WITH INDEX
s = "Hello world"
for index, obj in enumerate(s):
    print index, obj

In [ ]:
# loop through list WITH INDEX
l = ['h', 'e', 'l','l','o']
for index, obj in enumerate(l):
    print index, obj

In [ ]:
# loop through dict WITH INDEX
for index, value in enumerate(dict_):
    print index, value

In [ ]:
# loop through set WITH INDEX
for index, value in enumerate(set_):
        print index, value

**WHILE**

In [ ]:
i = 1
l = ['a', 'b', 'c']
while l:
    print "Popping element %d: %s" % (i, l[-1])
    l.pop()
    i+=1
print "List empty !"

## Cast

**```int``` --> ```str```**

In [ ]:
# int --> string
str(5)

**```str``` --> ```int```**

In [ ]:
# string --> int
int("4096")

**```list``` --> ```set```**

In [ ]:
# list --> set
set([1, 2, 2, 3])

**```list --> str```**

In [ ]:
# list --> str
' '.join(['C', 'C', 'C', '', 'I', 'N', 'F','O','R','M','A','T','I','O','N', '', 'S', 'E', 'R', 'V', 'I', 'C', 'E', 'S'])

**```str --> list```**

In [ ]:
# str --> list
string1 = "Hello\tWonderful\tWorld"
string1.split('\t')

**```dict``` --> ```list```**

In [ ]:
# dict --> list
dict_ = {'John': 22, 'Frank': 35}
print list(dict_.keys())
print list(dict_.values())
print list(dict_.items())

**```tuple``` --> ```str```**

In [ ]:
# tuple --> string
tuple_ = ('Paul', 42)
print list(tuple_)
print str(tuple_)

## Print

**Python 2.7**

In [ ]:
print "Hello World !"

***with arguments***

In [ ]:
string = "World !"
for i in range(10):
    print "%d. Hello %s" % (i, string)

***with a comma***

In [ ]:
string = "World !"
print "\tHello\n", 1

***with '+'***

In [ ]:
print "Hello" + string

**Python 3**

In Python 3, the print statement has been replaced by a function. This function has more features that the print statement.
To get it in Python 2.7, we can import it with:

In [ ]:
from __future__ import print_function

In [ ]:
print("Hello, world !")  # print is now a function

In [ ]:
print "hello world"

In [ ]:
# RESTART KERNEL TO RESTORE PRINT FUNCTION 2.7

# Numbers
**Integers, floats.**

**Assignment =**

In [ ]:
# int
a = 5
c = 2047

In [ ]:
# float 
b = 4.5
d = 3.0

**Operations**

In [ ]:
# Addition
a + b

In [ ]:
# Substraction
a - b

In [ ]:
# Product
a * b

In [ ]:
# Quotient
a / b

In [ ]:
# Quotient (integer)
a / c

In [ ]:
# Quotient (float)
float(a)/c

In [ ]:
# Floored quotient
a // b

In [ ]:
# Modulo (remainder)
a % b

In [ ]:
# Power
a ** b

In [ ]:
# In place (+=, -=, *=, **=)
a = 2047
b = 5.4
print a
print b
print

a += b  #add
print a

a -=b   #substract
print a

a /= b  #divide
print a

a *= b  #product
print a

a **=b  #power
print a

a = int(a)
print a

**Bitwise operators**

In [ ]:
bin(a)

In [ ]:
# Binary shift (left)
a << 1

In [ ]:
# Binary shift (right) 
a >> 1

In [ ]:
# Binary 'and'
a & c

In [ ]:
# Binary 'or'
a | c

In [ ]:
# Binary 'or exclusive'
a ^ c

In [ ]:
# Binary complement
~a

# Strings ""
**A string is a set of characters - ordered, immutable.**

**Assignement =**

In [ ]:
string1 = 'hello'

In [ ]:
string2 = 'world'

**Concatenation +**

In [ ]:
string1 + string2

In [ ]:
string1 + ' world'

In [ ]:
'hello' + ' world'

In [ ]:
print "hello" + ',' + "\n" + "\t world !"

**Indexing [ ]**

In [ ]:
string1[0]

In [ ]:
string1[2]

In [ ]:
string1[-1]

In [ ]:
string1[-2]

In [ ]:
# Assignemnt on index: TYPERROR EXCEPTION --> strings are NOT mutable
string1[-2]='a'

**Slicing [ : ]**

In [ ]:
# Slicing interval - outter bound excluded: [a, b[
string1[1:4]

In [ ]:
string1[0:3]

In [ ]:
string1[-1]

In [ ]:
# with step [a:b:step]
string1[0:5:3]

In [ ]:
# with step [a:b:step]
string1[0::2]

In [ ]:
# reverse a string
string1[::-2]

**String Methods**

**```upper()```**

In [ ]:
'helLO'.upper()

**```lower()```**

In [ ]:
'HEllO'.lower()

**```capitalize()```**

In [ ]:
'hello world'.capitalize()

**```isdigit()```**

In [ ]:
'3'.isdigit()

**```split()```** - converts string to list

In [ ]:
split1 = 'hello world'.split()      #delimiter is space (default)
split2 = 'hello, world'.split(',')  #delimiter is ','
print split1
print split2

**```replace```** - replace character in string

In [ ]:
'hello world'.replace('o', 'z')

# Lists [ ]
**A list contains objects of any kind - ordered, mutable**

**Assignment =**

In [ ]:
# Empty list
list1 = []
list1

In [ ]:
# List of integers
list1 = [1, 2, 3, 4, 5]
list1

In [ ]:
# List of strings
list2 = ['a', 'b', 'c', 'd']
list2

In [ ]:
# List of mixed types
list3 = [1.0, 'a', 2, dict()]
list3

In [ ]:
# Multidimensional
list4 = [[1, 2, 3], ['a', 'b', 'c']]
list4

**Concatenation +**

In [ ]:
list1 + list2

In [ ]:
list1 + list3

In [ ]:
list2 + list3

**Indexing [ ]**

In [ ]:
# Normal indexing
list1[3]

In [ ]:
# Normal indexing
list4[0]

In [ ]:
# Reverse indexing
list1[-2]

In [ ]:
# Reverse indexing
list4[-1]

In [ ]:
# Assignment on index
print list2
list2[0] = "new_value"
list2

**Slicing [ : ]**

In [ ]:
list1

In [ ]:
list1[2:4]

In [ ]:
# from index -2 to end
list1[-2:]

In [ ]:
list1[1:]

In [ ]:
# with step
# from index -4 to end with step = 2
list1[-4::2]

In [ ]:
# reverse a list
list1[::-1]

**List Methods**

In [ ]:
list1

**```insert(position, value)```**

In [ ]:
# insert(position, value)
list1.insert(-1, 4)
list1

**```append(value)```**

In [ ]:
list2

In [ ]:
# append(value)
list2.append("at_the_end")
list2

**```remove(value)```**

In [ ]:
# remove(value)
list2.remove('new_value')
list2

**```pop()```**

In [ ]:
# pop()
list2.pop()
list2

**```extend(other_list)```**

In [ ]:
# extend(other_list)
list3.extend(list4)
list3

**```'delimiter'.join(list)```**

In [ ]:
','.join(['C', 'C', 'C', '', 'I', 'N', 'F','O','R','M','A','T','I','O','N', '', 'S', 'E', 'R', 'V', 'I', 'C', 'E', 'S'])

**List comprehension**

In [ ]:
# Don't type this ...
list2 = []
for a in list1:
    list2.append(a+1)
list2

In [ ]:
# ... Type this !
list2 = [a+1 for a in list1]
list2

***More examples of list comprehension***

In [ ]:
# Following sounds familiar ? Get all even numbers in list
list2 = []
for e in list1:
    if e % 2 == 0:
        list2.append(e)
list2

In [ ]:
# Why not do that instead ? List comprehension \O/
list2 = [e for e in list1 if e % 2 == 0]
list2

In [ ]:
# Don't type this ...
list2 = []
for sub_list in list4:
    for sub in sub_list:
        if type(sub) is int:
            list2.append(sub)
list2

In [ ]:
list4

In [ ]:
# ... Type this !
list2 = [sub for sub_list in list4 for sub in sub_list if type(sub) is int]
list2

In [ ]:
# ... intellectually the same
[sub for sub_list in list4
         for sub in sub_list
             if type(sub) is int]

In [ ]:
# We can also reassign in-place 
list4 = [s for e in list4 for s in e if type(s) is str]
list4

# Dictionaries { } 
**A dictionary is a (key, value) store - mutable, unordered, unique**

**Assignment  =**

In [ ]:
# empty dict
dict1 = {}
dict1

In [ ]:
# initialize dict
dict1 = {'John': [22, 'intern'],
         'Marc': [35, 'boss']
        }
dict1

**Indexing  [ ]**

In [ ]:
dict1['John']

In [ ]:
dict1['Marc']

In [ ]:
dict1['Frank']

In [ ]:
dict1['Frank'] = {'age': 20, 'position': 'intern'}
dict1['Tom'] = [22, 'boss']
dict1

In [ ]:
# Add new key, value
dict1['Frank'] = [20, 'intern']
dict1

In [ ]:
# NO INDEXING BY NUMBER
dict1[0] # --> KeyError Exception

**Dictionary Methods**

**```keys()```**

In [ ]:
# Keys
dict1.keys()

**```values()```**

In [ ]:
# Values
dict1.values()

**```items()```**

In [ ]:
# Items (keys and values)
dict1.items()

**```has_key(key)```**

In [ ]:
if dict1.has_key('Pratt'):
    print dict1['Pratt']
else:
    print "Key doesn't exist."

**```update(other_dict)```**

In [ ]:
# update(other_dict)
dict2 = {'A': 1, 'B': 2, 'C': 3, 'D': 4, 'J': 5}
dict1.update(dict2)
dict1

**```clear()```**

In [ ]:
# clear()
dict2 = {'A': 1, 'B': 2, 'C': 3, 'D': 4}
dict2.clear()
dict2

**Dictionary comprehension**

In [ ]:
# build dictionary from a list of keys
keys = ['a', 'b', 'c', 'd']
d = {a: '' for a in keys}
d

In [ ]:
# build dictionary from two lists 
keys = ['a', 'b', 'c', 'd']
values = [1, 4, 6, 7]
d = {a: b for a, b in zip(keys, values)}
d

**Loops**

In [ ]:
# Loop through keys
for k in dict1:
    print k

In [ ]:
# Loop through keys (old way)
for key in dict1.keys():
    print key

In [ ]:
# Loop through values
for val in dict1.values():
    print val

In [ ]:
# Loop through both keys AND values
for k, v in dict1.iteritems(): #PYTHON 3: iteritems() --> items()
    print k, v

# Sets { }
**A set is a dictionary with no values, only keys - immutable, unordered, unique**

**Assignment  =**

In [ ]:
# empty set
set0 = set()
set0 = {}
set0

In [ ]:
# initialize set
set1 = {1, 2, 3, 4, 5, 6}
set1

In [ ]:
# intialize set
set2 = set(['a','b','c','d'])
set2

In [ ]:
# initialize set from list
list1 = [1, 2, 3, 4, 5, 5, 'a']
set3 = set(list1)
set3

**Concatenation  |=**

In [ ]:
# Concatenate two sets
set1 |= set2
set1

In [ ]:
# Concatenate two sets
set1.update(set2)
set1

**Indexing**

In [ ]:
# TYPEERROR EXCEPTION : NO INDEXING FOR SETS
set1[1]

**Set Methods**

**```add(element)```**

In [ ]:
set1.add(6)
set1

**```remove(element)```**

In [ ]:
if 7 in set1:
    print "6 is in set"
    set1.remove(6)
else:
    print "Not in set"
set1

**```discard(element)```**

In [ ]:
set1.discard(7)
set1

**```pop()```** - pops ***arbitrary*** element from set.

In [ ]:
set1.pop()
set1

**```union(other_set)```**

In [ ]:
print set1
print set3

In [ ]:
set1.union(set2)

**```intersection(other_set)```**

In [ ]:
set1.intersection(set3)

**```difference(other_set)```**

In [ ]:
set1.difference(set3)

**```symmetric_difference(other_set)```**

In [ ]:
set1.symmetric_difference(set2)

**```clear()```**

In [ ]:
set1.clear()
set1

# Tuples ( )
**A tuple is an arbitrary group of elements. **

**Assignment =**

In [ ]:
tuple1 = (1, 2, 3)
tuple1

In [ ]:
tuple2 = tuple([1, 2, 3, 4])
tuple2

In [ ]:
tuple3 = tuple("Hello world !")
tuple3

In [ ]:
tuple4 = ("Hello world !", "ok", 'a')
tuple4

In [ ]:
tuple5 = tuple({'John': 14, 'Marc': 22}.items())
tuple5

In [ ]:
tuple6 = tuple(list1)
tuple6

**Concatenation +**

In [ ]:
tuple1 + tuple2

In [ ]:
tuple1 + tuple3

In [ ]:
tuple2 + tuple3

**Indexing [ ]**

In [ ]:
tuple1[0] = 8

In [ ]:
tuple1[-1]

**Slicing [ : ]**

In [ ]:
tuple1[0:2]

In [ ]:
tuple2[-2:]

In [ ]:
tuple3[1::2]

**Tuple unwrapping**

In [ ]:
def fun(x):
    return x+1, x+2, x+3, x+4

a, b, c, d = fun(5)
print a, b, c, d

**Swapping with tuples**

In [ ]:
# Original
a, b, c = (1, 2, 3)
print a, b, c

# Swap a, b, c to c, b, a
c, b, a = a, b, c
print a, b, c