#  NumPy
**NumPy is the fundamental package for scientific computing with Python.**

* **Module required**: ```numpy```
* **Installation**: ```pip install numpy``` - http://www.scipy.org/scipylib/download.html

In [ ]:
import numpy as np

## Arrays
**A numpy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers.**

In [ ]:
arr = np.array([1, 2, 3])     
a = np.zeros((2, 2))        # Create an array of all ones
b = np.ones((1, 2))         # Create an array of all zeros
c = np.full((5,5), 7)       # Create a constant array
d = np.eye(5)               # Create 2x2 identity matrix
e = np.random.random((2,2)) # Create an array filled with random values

my_array = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])

In [ ]:
print arr
print
print a
print
print b
print
print c
print
print d
print
print e
print 
print my_array

## Array indexing

**Normal indexing**

In [ ]:
my_array = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])
print my_array[0]    # same as for Python lists
print my_array[-1]   # same as for Python lists
print my_array[0][1] # same as for Python lists
print my_array[0, 1] # new in Numpy arrays

**Integer array indexing**

In [ ]:
my_array = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])

print my_array[[0, 1, 2], [2, 1, 3]]

In [ ]:
# Equivalent to this
print np.array([my_array[0, 2], my_array[1, 1], my_array[2, 3]])

**Boolean array indexing**

In [ ]:
my_array = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])

bool_idx = (my_array > 2)
print bool_idx

my_array[bool_idx]

In [ ]:
# Or directly
my_array[my_array > 2]

In [ ]:
# Multiple boolean conditions
my_array[(my_array > 2) & (my_array % 2 == 0) & (my_array <= 10)]

**Slicing**

In [ ]:
b = my_array[:2, :3] # take first column, 
print my_array
print
print b
print

# A slice of an array is a view into the same data, 
# so modifying it will modify the original array
print my_array[0,1]
b[0, 0] = 55
print b

## Datatypes

In [ ]:
x = np.array([1, 2])
print x.dtype

x = np.array([1.0, 2])
print x.dtype

x = np.array([1, 2.5895984375897234985798234795734287592349857234985798324759234875987], dtype=np.float128)
print x.dtype

## Array math

In [ ]:
x = np.array([[1,2],[3,4]], dtype=np.float64)
y = np.array([[5,6],[7,8]], dtype=np.float64)

print x
print y

# Addition
print "Add:"
print x + y    # np.add(x, y)

# Difference
print "Substract:"
print x - y    # np.subtract(x, y)

# Product
print "Multiply: "
print x * y    # np.multiply(x, y)

# Matrix product 
print "Matrix product:"
print x.dot(y) # np.dot(x, y)

# Division
print "Divide:"
print x / y    # np.divide(x, y)

# Square root
print "Square root:"
print np.sqrt(x)

# Transpose
print "Transpose:"
print x.T

# Sum
print "Sum: "
print np.sum(x)
print np.sum(x, axis=0) # Compute sum of each column
print np.sum(x, axis=1) # Compute sum of each row

## Broadcasting
**Broadcasting is a powerful mechanism that allows numpy to work with arrays of different shapes (dimensions) when performing arithmetic operations. Frequently we have a smaller array and a larger array, and we want to use the smaller array multiple times to perform some operation on the larger array.**

In [ ]:
# We will add the vector v to each row of the matrix x,
# storing the result in the matrix y
x = np.array([[1,2,3], [4,5,6], [7,8,9], [10, 11, 12]])
v = np.array([1, 0, 1])
y = np.empty_like(x)   # Create an empty matrix with the same shape as x

print np.shape(x)
# Add the vector v to each row of the matrix x with an explicit loop
for i in range(np.shape(x)[1]):
    y[i, :] = x[i, :] + v
print y

This works; however when the matrix x is very large, computing an explicit loop in Python could be slow. Note that adding the vector v to each row of the matrix x is equivalent to forming a matrix vv by stacking multiple copies of v vertically, then performing elementwise summation of x and vv.

In [ ]:
x = np.array([[1,2,3], [4,5,6], [7,8,9], [10, 11, 12]])
v = np.array([1, 0, 1])
y = x + v  # Add v to each row of x using broadcasting
print x
print v
print y

## Functions

* **```add(x1, x2[, out])```** - Add arguments element-wise.
* **```subtract(x1, x2[, out])```** - Subtract arguments, element-wise.
* ** ```multiply(x1, x2[, out])```** - Multiply arguments element-wise.
* **```divide(x1, x2[, out])```** - Divide arguments element-wise.
* **```logaddexp(x1, x2[, out])```** - Logarithm of the sum of exponentiations of the inputs.
* **```logaddexp2(x1, x2[, out])```** - Logarithm of the sum of exponentiations of the inputs in base-2.
* **```true_divide(x1, x2[, out])```** - Returns a true division of the inputs, element-wise.
* **```floor_divide(x1, x2[, out])```** - Return the largest integer smaller or equal to the division of the inputs.
* **```negative(x[, out])```** - Numerical negative, element-wise.
* **```power(x1, x2[, out])```** - First array elements raised to powers from second array, element-wise.
* **```remainder(x1, x2[, out])```** - Return element-wise remainder of division.
* **```mod(x1, x2[, out])```** - Return element-wise remainder of division.
* **```fmod(x1, x2[, out])```** - Return the element-wise remainder of division.
* **```absolute(x[, out])```** - Calculate the absolute value element-wise.
* **```rint(x[, out])```** - Round elements of the array to the nearest integer.
* **```sign(x[, out])```** - Returns an element-wise indication of the sign of a number.
* **```conj(x[, out])```** - Return the complex conjugate, element-wise.
* **```exp(x[, out])```** - Calculate the exponential of all elements in the input array.
* **```exp2(x[, out]) ```**	- Calculate 2**p for all p in the input array.
* **```log(x[, out]) ```** - Natural logarithm, element-wise.
* **```log2(x[, out])```** - Base-2 logarithm of x.
* **```log10(x[, out])```** - Return the base 10 logarithm of the input array, element-wise.
* **```expm1(x[, out])```** - Calculate exp(x) - 1 for all elements in the array.
* **```log1p(x[, out]) ```** - Return the natural logarithm of one plus the input array, element-wise.
* **```sqrt(x[, out])```** - Return the positive square-root of an array, element-wise.
* **```square(x[, out])```** - Return the element-wise square of the input.
* **```reciprocal(x[, out])```** - Return the reciprocal of the argument, element-wise.
* **```ones_like(a[, dtype, order, subok])```** - Return an array of ones with the same shape and type as a given array.

# Matplotlib
**Matplotlib provides a MATLAB-like plotting framework.**

* **Module required**: ```matplotlib```
* **Installation**: ```pip install matplotlib``` - http://matplotlib.org/users/installing.html

In [ ]:
import matplotlib.pyplot as plt

## Plotting

In [ ]:
plt.plot([1, 2, 4, 16])
plt.ylabel('some numbers')
plt.show()

**Plot x versus y**

In [ ]:
plt.plot([1, 2, 3, 4], [1, 4, 9, 16])

# axis [xmin, xmax, ymin, ymax]
plt.axis([0, 6, 0, 20])

In [ ]:
sizes = range(10000)
plt.plot(sizes, [s*(s-1)/2.0 for s in sizes])
plt.show()

**With numpy arrays**

In [ ]:
import numpy as np

# evenly sampled time at 200 ms intervals
t = np.arange(0., 5., 0.2)

# red dashed, blue squares and green triangles
plt.plot(t, t, 'r--', t, t**2, 'bs', t, t**3, 'g^')
plt.show()

## Subplots

In [ ]:
def f(t):
    return np.exp(-t) * np.cos(2*np.pi*t)

t1 = np.arange(0.0, 5.0, 0.1)
t2 = np.arange(0.0, 5.0, 0.02)

plt.figure(1)
plt.subplot(211)
plt.plot(t1, f(t1), 'bo', t2, f(t2), 'k')

plt.subplot(212)
plt.plot(t2, np.cos(2*np.pi*t2), 'r--')

plt.show()

**Multiple figures**

In [ ]:
plt.figure(1)                # the first figure
plt.subplot(211)             # the first subplot in the first figure
plt.plot([1, 2, 3])
plt.subplot(212)             # the second subplot in the first figure
plt.plot([4, 5, 6])


plt.figure(2)                # a second figure
plt.plot([4, 5, 6])          # creates a subplot(111) by default

plt.figure(1)                # figure 1 current; subplot(212) still current
plt.subplot(211)             # make subplot(211) in figure1 current
plt.title('Easy as 1, 2, 3') # subplot 211 title

plt.show()

**Working with text**

In [ ]:
mu, sigma = 100, 15
x = mu + sigma * np.random.randn(10000)

# the histogram of the data
n, bins, patches = plt.hist(x, 50, normed=1, facecolor='g', alpha=0.75)


plt.xlabel('Smarts')
plt.ylabel('Probability')
plt.title('Histogram of IQ')
plt.text(60, .025, r'$\mu=100,\ \sigma=15$') # TeX equation expressions
plt.axis([40, 160, 0, 0.03])
plt.grid(False)
plt.show()

**Anonating text**

In [ ]:
ax = plt.subplot(111)

t = np.arange(0.0, 5.0, 0.01)
s = np.cos(2*np.pi*t)
line, = plt.plot(t, s, lw=2)

plt.annotate('local max', xy=(2, 1), xytext=(3, 1.5),
            arrowprops=dict(facecolor='black', shrink=0.05),
            )

plt.ylim(-2,2)
plt.show()

# Pandas
**Pandas is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.**

* **Module required**: ```pandas```
* **Installation**: ```pip install pandas``` - http://pandas.pydata.org/pandas-docs/stable/install.html

In [1]:
from pandas import *  
import pandas as pd

## Series
**One-dimensional ndarray with axis labels (including time series).**
[Documentation](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html#pandas.Series)

In [2]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0     1
1     3
2     5
3   NaN
4     6
5     8
dtype: float64

## Dataframes
**Two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). Arithmetic operations align on both row and column labels. Can be thought of as a dict-like container for Series objects. The primary pandas data structure.**
[Documentation](http://pandas.pydata.org/pandas-docs/stable/api.html#dataframe)

### Create Data

In [13]:
################
### Datasets ###
################

# A list of tuples
names = ['Bob','Jessica','Mary','John','Mel']
births = [968, 155, 77, 578, 973]
data_zipped = zip(names,births)

# A numpy array
numpy_array = np.random.randn(6,4)
dates = pd.date_range('20130101', periods=6)

# A dict with column names as keys
data_dict = {
    "Names": ["Bob", "Jessica", "Mary", "John", "Mel"],
    "Births": [968, 155, 77, 578, 973]
}

# A dict with column values as keys and values
data_dict2 = {
    "Bob": 968,
    "Jessica": 155,
    "Mary": 77,
    "John": 578,
    "Mel": 973
}

**Create a DataFrame from a list of tuples**

In [16]:
df = pd.DataFrame(data = data_zipped, columns=['Names', 'Births'])
df

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

**Create a DataFrame from a dictionary**

In [17]:
df = pd.DataFrame(data_dict)
print df

   Births    Names
0     968      Bob
1     155  Jessica
2      77     Mary
3     578     John
4     973      Mel

In [18]:
df2 = pd.DataFrame(data_dict2.items(), columns=["Names", "Births"])
print df2

     Names  Births
0      Mel     973
1      Bob     968
2     John     578
3  Jessica     155
4     Mary      77

**Create a DataFrame from a Numpy Array**

In [75]:
df = pd.DataFrame(numpy_array, index=range(6), columns=range(4))
print df

          0         1         2         3
0 -0.884469  0.497028 -0.800083 -0.876086
1  0.313892 -1.038793 -1.312385 -0.525264
2 -0.477669 -0.988359  0.903419  0.238790
3  1.354466  1.311577  1.218012 -1.309197
4 -0.263929  0.145799 -2.653418  0.609797
5 -0.730113 -0.546828 -0.640554 -0.044465

**Output data to CSV**

In [24]:
df.to_csv('files/births1889_output.csv', index=True)

ValueError: 'files/birth1889_output.csv' was not found in history, as a file, url, nor in the user namespace.

**Output data to JSON**

In [27]:
df.to_json('files/births1889_output.json')

### Get Data

**Read data from CSV**

In [78]:
df = pd.read_csv("files/births1889_output.csv", index_col = 0, header=1, skiprows=[4, 22, 30])
print df

                   A         B         C         D
2013-01-01 -0.884469  0.497028 -0.800083 -0.876086
2013-01-02  0.313892 -1.038793 -1.312385 -0.525264
2013-01-04  1.354466  1.311577  1.218012 -1.309197
2013-01-05 -0.263929  0.145799 -2.653418  0.609797
2013-01-06 -0.730113 -0.546828 -0.640554 -0.044465

**Read data from JSON**

In [44]:
df = pd.read_json('files/simple.json')
print df

   Age   Name       Role
0   23    Bob  Architect
1   22  Ariel     Intern

### Select Data

In [79]:
# Dataset
experimentDF = pd.read_csv("files/parasite_data.csv", na_values=[" "], skiprows=1,names=['Virulence', 'Replicate', 'ShannonDiversity'])
experimentDF

     Virulence  Replicate  ShannonDiversity
0          0.5          1          0.059262
1          0.5          2          1.093600
2          0.5          3          1.139390
3          0.5          4          0.547651
4          0.5          5          0.065928
5          0.5          6          1.344330
6          0.5          7          1.680480
7          0.5          8          0.000000
8          0.5          9          2.047680
9          0.5         10          0.000000
10         0.5         11          1.507140
11         0.5         12          0.000000
12         0.5         13          1.589810
13         0.5         14          1.144800
14         0.5         15          1.011190
15         0.5         16          0.000000
16         0.5         17          0.776665
17         0.5         18          0.001749
18         0.5         19          1.761200
19         0.5         20          0.021091
20         0.5         21          0.790915
21         0.5         22          0.000000
22         0.5         23          0.018866
23         0.5         24          0.994268
24         0.5         25          1.729620
25         0.5         26          0.967537
26         0.5         27          0.457318
27         0.5         28          0.992525
28         0.5         29          1.506640
29         0.5         30          0.697241
..         ...        ...               ...
320        NaN         21          0.000000
321        NaN         22          0.000000
322        NaN         23          0.000000
323        NaN         24          0.000000
324        NaN         25          0.000000
325        NaN         26          0.000000
326        NaN         27          1.702720
327        NaN         28          0.169556
328        NaN         29          0.949750
329        NaN         30          0.240084
330        NaN         31          0.925913
331        NaN         32          0.000000
332        NaN         33          0.693356
333        NaN         34          0.000000
334        NaN         35          0.310170
335        NaN         36          0.000000
336        NaN         37          0.000000
337        NaN         38          0.000000
338        NaN         39          0.000000
339        NaN         40          0.000000
340        NaN         41          0.000000
341        NaN         42          0.000000
342        NaN         43          0.000000
343        NaN         44          0.000000
344        NaN         45          0.391061
345        NaN         46          0.001669
346        NaN         47          0.000000
347        NaN         48          0.444463
348        NaN         49          0.383512
349        NaN         50          0.511329

[350 rows x 3 columns]

**Select rows**

In [52]:
# select 12th row
experimentDF[12:23]

    Virulence  Replicate  ShannonDiversity
12        0.5         13          1.589810
13        0.5         14          1.144800
14        0.5         15          1.011190
15        0.5         16          0.000000
16        0.5         17          0.776665
17        0.5         18          0.001749
18        0.5         19          1.761200
19        0.5         20          0.021091
20        0.5         21          0.790915
21        0.5         22          0.000000
22        0.5         23          0.018866

In [53]:
# select row 3 to 15
experimentDF[3:15]

    Virulence  Replicate  ShannonDiversity
3         0.5          4          0.547651
4         0.5          5          0.065928
5         0.5          6          1.344330
6         0.5          7          1.680480
7         0.5          8          0.000000
8         0.5          9          2.047680
9         0.5         10          0.000000
10        0.5         11          1.507140
11        0.5         12          0.000000
12        0.5         13          1.589810
13        0.5         14          1.144800
14        0.5         15          1.011190

In [60]:
# select rows 3 to 15 in columns "Virulence" and "ShannonDiversity"
experimentDF.loc[3:15, ['Virulence']]

    Virulence
3         0.5
4         0.5
5         0.5
6         0.5
7         0.5
8         0.5
9         0.5
10        0.5
11        0.5
12        0.5
13        0.5
14        0.5
15        0.5

In [64]:
# select 12th row in "Virulence" column
experimentDF.loc[12, ["Virulence", "ShannonDiversity"]]

Virulence           0.50000
ShannonDiversity    1.58981
Name: 12, dtype: float64

**Select columns**

In [ ]:
# select column "Virulence"
print experimentDF["Virulence"] # by label *FASTER*
print experimentDF.Virulence    # by attribute

In [ ]:
# select column "Virulence" and "ShannonDiversity
print experimentDF.loc[:, ["Virulence", "ShannonDiversity"]] # using 'loc' *FASTER*
print experimentDF[["Virulence", "ShannonDiversity"]]        # using [[col1, col2, ...]]

In [65]:
# TIMEIT: label access is faster than attribute access !
from timeit import timeit
print "Label access VS Attribute access:"
print timeit('experimentDF["Virulence"]', setup='from __main__ import experimentDF')
print timeit('experimentDF.Virulence', setup='from __main__ import experimentDF')

Label access VS Attribute access:
2.12870907784
4.32692885399

**Select scalar element**

In [66]:
# select element at column "ShannonDiversity" and row 5
experimentDF.at[0, "ShannonDiversity"] # using 'at' *FASTER*
experimentDF["ShannonDiversity"][0]    # using [][]

0.059261900000000006

In [67]:
# TIMEIT: 'at' is faster than multi-indexing !
import timeit
print "'at' versus [][]:"
print timeit.timeit('experimentDF.at[0, "ShannonDiversity"]', setup="from __main__ import experimentDF")
print timeit.timeit('experimentDF["ShannonDiversity"][0]', setup="from __main__ import experimentDF")

'at' versus [][]:
7.83868193626
9.29786586761

**Select by boolean expression(s)**

In [68]:
# show all entries for which the Shannon diversity > 2.0
experimentDF[experimentDF["ShannonDiversity"] > 2.0]

     Virulence  Replicate  ShannonDiversity
8          0.5          9           2.04768
89         0.6         40           2.01066
92         0.6         43           2.90081
96         0.6         47           2.02915
105        0.7          6           2.23427
117        0.7         18           2.14296
127        0.7         28           2.23599
129        0.7         30           2.48422
133        0.7         34           2.18506
134        0.7         35           2.42177
139        0.7         40           2.25737
142        0.7         43           2.07258
148        0.7         49           2.38326
151        0.8          2           2.07970
153        0.8          4           2.38474
163        0.8         14           2.03252
165        0.8         16           2.38415
170        0.8         21           2.02297
172        0.8         23           2.13882
173        0.8         24           2.53339
182        0.8         33           2.17865
196        0.8         47           2.07718
208        0.9          9           2.12240
209        0.9         10           2.46144
212        0.9         13           2.20476
229        0.9         30           2.28026
235        0.9         36           2.19565
237        0.9         38           2.16535
243        0.9         44           2.17578
251        1.0          2           2.16044

In [71]:
# multiple boolean expressions
# show all entries for which the virulence == 0.6 and Shannon diversity > 1.5
experimentDF[(experimentDF["Virulence"] == 0.6) & (experimentDF["ShannonDiversity"] > 0.9)]

    Virulence  Replicate  ShannonDiversity
51        0.6          2          1.022330
54        0.6          5          1.833990
55        0.6          6          1.011700
58        0.6          9          1.270230
61        0.6         12          1.898400
62        0.6         13          1.495510
65        0.6         16          1.971850
67        0.6         18          1.902020
68        0.6         19          0.999456
69        0.6         20          1.035000
74        0.6         25          1.072580
77        0.6         28          1.859630
79        0.6         30          1.094480
82        0.6         33          1.155160
83        0.6         34          1.781040
89        0.6         40          2.010660
90        0.6         41          1.004850
92        0.6         43          2.900810
93        0.6         44          1.746040
94        0.6         45          1.961670
95        0.6         46          1.180130
96        0.6         47          2.029150
98        0.6         49          1.005130

**Handling NA/NaN values **

In [76]:
experimentDF[300:]

     Virulence  Replicate  ShannonDiversity
300        NaN          1          0.000000
301        NaN          2          0.000000
302        NaN          3          0.833645
303        NaN          4          0.000000
304        NaN          5          0.990309
305        NaN          6          0.000000
306        NaN          7          0.000000
307        NaN          8          0.000000
308        NaN          9          0.061414
309        NaN         10          0.316439
310        NaN         11          0.904773
311        NaN         12          0.884122
312        NaN         13          0.000000
313        NaN         14          0.000000
314        NaN         15          0.000000
315        NaN         16          0.000000
316        NaN         17          0.013495
317        NaN         18          0.882519
318        NaN         19          0.000000
319        NaN         20          0.986830
320        NaN         21          0.000000
321        NaN         22          0.000000
322        NaN         23          0.000000
323        NaN         24          0.000000
324        NaN         25          0.000000
325        NaN         26          0.000000
326        NaN         27          1.702720
327        NaN         28          0.169556
328        NaN         29          0.949750
329        NaN         30          0.240084
330        NaN         31          0.925913
331        NaN         32          0.000000
332        NaN         33          0.693356
333        NaN         34          0.000000
334        NaN         35          0.310170
335        NaN         36          0.000000
336        NaN         37          0.000000
337        NaN         38          0.000000
338        NaN         39          0.000000
339        NaN         40          0.000000
340        NaN         41          0.000000
341        NaN         42          0.000000
342        NaN         43          0.000000
343        NaN         44          0.000000
344        NaN         45          0.391061
345        NaN         46          0.001669
346        NaN         47          0.000000
347        NaN         48          0.444463
348        NaN         49          0.383512
349        NaN         50          0.511329

**```dropna()```** - *drop rows that have a NA/NaN value*

In [77]:
# Drop NA
experimentDF["Virulence"].dropna()

0      0.5
1      0.5
2      0.5
3      0.5
4      0.5
5      0.5
6      0.5
7      0.5
8      0.5
9      0.5
10     0.5
11     0.5
12     0.5
13     0.5
14     0.5
15     0.5
16     0.5
17     0.5
18     0.5
19     0.5
20     0.5
21     0.5
22     0.5
23     0.5
24     0.5
25     0.5
26     0.5
27     0.5
28     0.5
29     0.5
      ...
270    1.0
271    1.0
272    1.0
273    1.0
274    1.0
275    1.0
276    1.0
277    1.0
278    1.0
279    1.0
280    1.0
281    1.0
282    1.0
283    1.0
284    1.0
285    1.0
286    1.0
287    1.0
288    1.0
289    1.0
290    1.0
291    1.0
292    1.0
293    1.0
294    1.0
295    1.0
296    1.0
297    1.0
298    1.0
299    1.0
Name: Virulence, dtype: float64

**```fillna(r)```** - *replace NA values by r*

In [81]:
# Fill NA
experimentDF.fillna(0.0)

     Virulence  Replicate  ShannonDiversity
0          0.5          1          0.059262
1          0.5          2          1.093600
2          0.5          3          1.139390
3          0.5          4          0.547651
4          0.5          5          0.065928
5          0.5          6          1.344330
6          0.5          7          1.680480
7          0.5          8          0.000000
8          0.5          9          2.047680
9          0.5         10          0.000000
10         0.5         11          1.507140
11         0.5         12          0.000000
12         0.5         13          1.589810
13         0.5         14          1.144800
14         0.5         15          1.011190
15         0.5         16          0.000000
16         0.5         17          0.776665
17         0.5         18          0.001749
18         0.5         19          1.761200
19         0.5         20          0.021091
20         0.5         21          0.790915
21         0.5         22          0.000000
22         0.5         23          0.018866
23         0.5         24          0.994268
24         0.5         25          1.729620
25         0.5         26          0.967537
26         0.5         27          0.457318
27         0.5         28          0.992525
28         0.5         29          1.506640
29         0.5         30          0.697241
..         ...        ...               ...
320        0.0         21          0.000000
321        0.0         22          0.000000
322        0.0         23          0.000000
323        0.0         24          0.000000
324        0.0         25          0.000000
325        0.0         26          0.000000
326        0.0         27          1.702720
327        0.0         28          0.169556
328        0.0         29          0.949750
329        0.0         30          0.240084
330        0.0         31          0.925913
331        0.0         32          0.000000
332        0.0         33          0.693356
333        0.0         34          0.000000
334        0.0         35          0.310170
335        0.0         36          0.000000
336        0.0         37          0.000000
337        0.0         38          0.000000
338        0.0         39          0.000000
339        0.0         40          0.000000
340        0.0         41          0.000000
341        0.0         42          0.000000
342        0.0         43          0.000000
343        0.0         44          0.000000
344        0.0         45          0.391061
345        0.0         46          0.001669
346        0.0         47          0.000000
347        0.0         48          0.444463
348        0.0         49          0.383512
349        0.0         50          0.511329

[350 rows x 3 columns]

**Functions**

**```index```** - *list DataFrame indexes*

In [82]:
experimentDF.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            340, 341, 342, 343, 344, 345, 346, 347, 348, 349],
           dtype='int64', length=350)

**```columns```** - *list DataFrame column names*

In [83]:
experimentDF.columns

Index([u'Virulence', u'Replicate', u'ShannonDiversity'], dtype='object')

**```values```** - *list DataFrame column content*

In [84]:
experimentDF.values

array([[  0.5      ,   1.       ,   0.0592619],
       [  0.5      ,   2.       ,   1.0936   ],
       [  0.5      ,   3.       ,   1.13939  ],
       ...,
       [        nan,  48.       ,   0.444463 ],
       [        nan,  49.       ,   0.383512 ],
       [        nan,  50.       ,   0.511329 ]])

**T** - *transpose a DataFrame*

In [85]:
experimentDF.T

,0,1,2,3,4,5,6,7,8,9,...,340,341,342,343,344,345,346,347,348,349
Virulence,0.500000,0.5000,0.50000,0.500000,0.500000,0.50000,0.50000,0.5,0.50000,0.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Replicate,1.000000,2.0000,3.00000,4.000000,5.000000,6.00000,7.00000,8.0,9.00000,10.0,...,41,42,43,44,45.000000,46.000000,47,48.000000,49.000000,50.000000
ShannonDiversity,0.059262,1.0936,1.13939,0.547651,0.065928,1.34433,1.68048,0.0,2.04768,0.0,...,0,0,0,0,0.391061,0.001669,0,0.444463,0.383512,0.511329

### Sort Data

**Sort by values**

In [86]:
experimentDF_sorted = experimentDF.sort_values(by="ShannonDiversity", ascending=False)
experimentDF_sorted.head(5)

     Virulence  Replicate  ShannonDiversity
92         0.6         43           2.90081
173        0.8         24           2.53339
129        0.7         30           2.48422
209        0.9         10           2.46144
134        0.7         35           2.42177

**Sort by index**

In [102]:
experimentDF_sorted = experimentDF.sort_index(axis=1, ascending=False)
experimentDF_sorted.head(5)

   Virulence  ShannonDiversity  Replicate
0        0.5          0.059262          1
1        0.5          1.093600          2
2        0.5          1.139390          3
3        0.5          0.547651          4
4        0.5          0.065928          5

### Plot Data
**Pandas also uses ```matplotlib.pyplot``` to plot its DataFrames.**

In [104]:
# Import the library
import matplotlib.pyplot as plt

# Create graph
plot = experimentDF['ShannonDiversity'].plot(title="ShannonDiversity")
plot.set_ylabel("ShannonDiversity")
plot.set_xlabel("Virulence")

# Maximum value in the data set
MaxShannonDiversity = experimentDF['ShannonDiversity'].max()

# Virulence associated with the maximum value
MaxVirulence = experimentDF['Virulence'][experimentDF['ShannonDiversity'] == MaxShannonDiversity].values

# Text to display on graph
Text = str(MaxShannonDiversity) + " - " + str(MaxVirulence)

# Add text to graph
plt.annotate(Text, xy=(MaxShannonDiversity, MaxVirulence), xytext=(8, 0), 
                 xycoords=('axes fraction', 'data'), textcoords='offset points')

plt.show()

experimentDF[experimentDF['ShannonDiversity'] == MaxShannonDiversity]

    Virulence  Replicate  ShannonDiversity
92        0.6         43           2.90081

## Statistical analysis with pandas

**```max()```**

In [105]:
experimentDF['ShannonDiversity'].max()

2.9008099999999999

**```min()```**

In [106]:
experimentDF['ShannonDiversity'].min()

0.0

**```mean()```**

In [107]:
experimentDF["ShannonDiversity"].mean()

0.83644708317142824

**```var()```**

In [108]:
experimentDF["ShannonDiversity"].var()

0.59826517852454708

**```std()```**

In [109]:
experimentDF["ShannonDiversity"].std()

0.77347603616695659

**```describe()```**

In [110]:
experimentDF["ShannonDiversity"].describe()

count    350.000000
mean       0.836447
std        0.773476
min        0.000000
25%        0.000000
50%        0.845694
75%        1.533692
max        2.900810
Name: ShannonDiversity, dtype: float64

**Going further with ```stats``` from ```scipy``` module**

In [111]:
from scipy import stats

**Standard Error on the Mean (SEM)**

In [112]:
print stats.sem(experimentDF["ShannonDiversity"])

0.0413440332031

**Mann-Whitney-Wilcoxon (MWW) RankSum test**

In [120]:
treatment1 = experimentDF[experimentDF["Virulence"] == 0.5]
treatment2 = experimentDF[experimentDF["Virulence"] == 0.8]
z_stat, p_val = stats.ranksums(treatment1, treatment2)  

print z_stat
print p_val   # < 0.05 - treatment1 and treament2 significantly differ

treatment2

26.072426769
7.49255426662e-150

     Virulence  Replicate  ShannonDiversity
150        0.8          1          1.433800
151        0.8          2          2.079700
152        0.8          3          0.892139
153        0.8          4          2.384740
154        0.8          5          0.006980
155        0.8          6          1.971760
156        0.8          7          0.000000
157        0.8          8          1.428470
158        0.8          9          1.715950
159        0.8         10          0.000000
160        0.8         11          0.421927
161        0.8         12          1.179920
162        0.8         13          0.932470
163        0.8         14          2.032520
164        0.8         15          0.960912
165        0.8         16          2.384150
166        0.8         17          1.879130
167        0.8         18          1.238890
168        0.8         19          1.584300
169        0.8         20          1.118490
170        0.8         21          2.022970
171        0.8         22          0.000000
172        0.8         23          2.138820
173        0.8         24          2.533390
174        0.8         25          1.212340
175        0.8         26          0.059135
176        0.8         27          1.578260
177        0.8         28          1.725210
178        0.8         29          0.293153
179        0.8         30          0.000000
180        0.8         31          0.000000
181        0.8         32          1.699600
182        0.8         33          2.178650
183        0.8         34          1.792580
184        0.8         35          1.920800
185        0.8         36          0.000000
186        0.8         37          1.583250
187        0.8         38          0.343235
188        0.8         39          1.980010
189        0.8         40          0.980876
190        0.8         41          1.089380
191        0.8         42          0.979254
192        0.8         43          1.190450
193        0.8         44          1.738880
194        0.8         45          1.154100
195        0.8         46          1.981610
196        0.8         47          2.077180
197        0.8         48          1.566410
198        0.8         49          0.000000
199        0.8         50          1.990900

**One-way analysis of variance (ANOVA)**

In [121]:
treatment1 = experimentDF[experimentDF["Virulence"] == 0.7]["ShannonDiversity"]  
treatment2 = experimentDF[experimentDF["Virulence"] == 0.8]["ShannonDiversity"]  
treatment3 = experimentDF[experimentDF["Virulence"] == 0.9]["ShannonDiversity"]  

f_val, p_val = stats.f_oneway(treatment1, treatment2, treatment3)  

print f_val
print p_val  # > 0.05 - treatment1, treatment2, treatment3 are similar

0.969964023246
0.381509481874

**Bootstrapped 95% confidence intervals**

* **Module required**: ```scikits```
* **Installation**: ```sudo easy_install scikits```

In [122]:
from scipy import mean
import scikits.bootstrap as bootstrap

treatment1 = experimentDF[experimentDF["Virulence"] == 0.8]["ShannonDiversity"][:10]  

# compute 95% confidence intervals around the mean  
CIs = bootstrap.ci(data=treatment1, statfunction=mean)  

# compute 80% confidence intervals around the mean
CIs2 = bootstrap.ci(data=treatment1, statfunction=mean, alpha=0.2)

print CIs
print CIs2

[ 0.60889785  1.70414392]
[ 0.82344385  1.52449782]

# Exercise: Parse a switch record with Pandas and output to MySQL / DynamoDB
### Problem
**Objectives:** 
- Switch record file (CSV) is located at ```https://172.20.104.147/moi/python_classes/switch_records.csv```
- Read the CSV file and elaborate a strategy to extract data.
- Parse the information in ```switch_records.csv``` and construct Pandas dataframes from it.
- Write each table to it's own JSON file.
- Create and populate corresponding tables in MySQL.
- Create and populate corresponding tables in DynamoDB.

**Information:**
- ```switch_records.csv``` contains multiple tables:
    - Inventory
    - HP BladeSystem Rack  
    - Network Interface
- Each table has it's name on the first line, the column names on the second line and then the data.
    
**Steps**
1. Write a function ```split_csv(csv_path, table_names)``` to split the file into temporary csv files (one for each table).
2. Load each file into a Pandas ```DataFrame``` using the ```pandas.read_csv()``` function.
3. Generate JSON files from the Pandas dataframes you created.
4. Create your database with a unique id (1 letter of your first name, 7 letters of your last name).
4. Connect to MySQL and construct tables with the data.
5. Connect to DynamoDB and construct tables with the data.

**Help**
1. If you're stuck at step 1:
    * You can use the ```csv``` module to import the file and loop through each row.
    * You can use ```dirname``` and ```join``` from the ```os.path``` module to manipulate path strings easily.
    * If you're still stuck, you can use the ```split_csv(csv_path, tables_names)``` function that I wrote to split the tables into multiple csv files. The function returns the paths of the files written, so that you can iterate over them.
    * If you need it, just run the following IPython Notebook cell and you will have access to the ```split_csv``` function.
2. If you need to skip rows, you can pass ```skiprows=[i1, i2, ...]``` to pandas' ```read_csv``` function.classification of last 12-month claim data records

In [ ]:
%load solutions/help_csv.py

### Solutions

In [ ]:
# %load solutions/switch_solution.py
from help_csv import *
from os.path import basename
import pandas as pd
import json
import boto3
from botocore.exceptions import ClientError
import mysql
from mysql.connector import MySQLConnection, Error, errorcode

DEBUG = 0

class Controller(object):
    def __init__(self, cnx):
        self.cnx = cnx
        self.cursor = self.cnx.cursor()
        self.tables = []

    def get_db(self, name):
        # Get an existing database named db_name.
        # If it doesn't exist, create a new database db_name.
        # Also get all tables in database.
        cursor = cnx.cursor()
        print "[INFO]  Fetching database %s ..." % name
        try:
            cnx.database = name
        except mysql.connector.Error as err:
            if err.errno == errorcode.ER_BAD_DB_ERROR:
                print "[ERROR] Database %s does not exist! Creating database..." % name
                self.create_db(name)
                cnx.database = name
            else:
                print(err)
                exit(1)
        print "[INFO]  Database %s selected." % name

    def create_db(self, name):
        # Create a new database on the MySQL server
        query = "CREATE DATABASE %s" % name
        self.exec_query(query)

    def delete_db(self, name):
        # Delete an existing database.
        query = "DROP DATABASE %s" % name
        self.exec_query(query)

    def delete_table(self, name):
        # Delete a table from the database
        query = "DROP TABLE %s" % name
        self.exec_query(query)

    def create_table(self, name, args):
        # Create a new table in the database.
        args_str = ','.join(args)
        query = "CREATE TABLE IF NOT EXISTS %s" % name + "(" + args_str + ")"
        self.exec_query(query)

    def describe_table(self, name):
        query = "DESCRIBE %s" % name
        self.exec_query(query)
        try:
            import pandas
            df = pandas.DataFrame(self.cursor.fetchall())
            print df
            print
        except ImportError:
            print self.cursor.fetchall()
            print

    def exec_query(self, query, query_args=None):
        try:
            if query_args is not None:
                print "[INFO]  Executing SQL: \"%s\"..." % (query % query_args),
                self.cursor.execute(query, query_args)
            else:
                print "[INFO]  Executing SQL: \"%s\"..." % query,
                self.cursor.execute(query)
            print " SUCCESS"
        except mysql.connector.Error as err:
            print
            print "[ERROR] " + err.msg

if __name__ == '__main__':
    table_names = ["Inventory", "HP BladeSystem Rack", "Network Interface"]
    paths = split_csv("../files/switch_records.csv", table_names)

    # Construct dataframes from each csv file (one per table)
    dataframes = []
    for p in paths:
        with open(p, 'r') as f:
            df = pd.read_csv(f, skiprows=1)
            df.name = basename(p).replace('.csv','')
            dataframes.append(df)

    for df in dataframes:
        if DEBUG:
            print df.name
            print df.columns
            print

    # Create json files for each table
    files = []
    for df in dataframes:
        fname = "../files/" + df.name + "_output.json"
        files.append(fname)
        df.to_json(fname)

    print "Files written:"
    for f in files:
        print f

    # Load the json files
    jsons = []
    for f in files:
        j = json.load(open(f, 'r'))
        jsons.append(j)

    #############
    ### MYSQL ###
    #############

    # Connection
    config = {
        'user': 'root',
        'password': 'password',
        'host': 'localhost',
        'raise_on_warnings': True,
    }
    try:
        cnx = MySQLConnection(**config)
    except Error as e:
        print "[ERROR] Could not connect to MySQL database."
        exit(1)

    ctrl = Controller(cnx) # Instantiate controller

    # Create database
    ctrl.get_db('ocervell')

    # Create and populate table with each json file
    for f in files:
        name = basename(f).lower().replace('.json','')
        args = ("`doc` json DEFAULT NULL",
                "`updated` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP"
                )
        ctrl.create_table(name, args)
        content = json.load(open(f, 'r'))
        insert = "INSERT INTO %s (doc) " % name
        insert += "VALUES(%s)"

        ctrl.exec_query(insert, (json.dumps(content),))
    cnx.close()


    #################
    ### DYNAMO DB ###
    #################

    # Connection
    dynamodb_resource = boto3.resource('dynamodb', endpoint_url="http://localhost:9090")

    # Create tables
    for f in files:
        name = basename(f).lower().replace('.json','')
        j = json.load(open(f, 'r'))
        KeySchema = {'AttributeName': ', 'KeyType': 'HASH'}
        AttributeDefinitions = {'AttributeName': key.encode(), 'AttributeType': 'S'}
        print KeySchema
        print AttributeDefinitions
        try:
            table = dynamodb_resource.create_table(
                TableName=name,
                KeySchema=[KeySchema,]
                AttributeDefinitions=AttributeDefinitions,
                ProvisionedThroughput={'ReadCapacityUnits': 10, 'WriteCapacityUnits': 10}
            )
        except ClientError as e:
            print e

### Output files

In [ ]:
%load temp/Inventory.csv

In [ ]:
%load temp/HP\ BladeSystem\ Rack.csv

In [ ]:
%load temp/Network\ Interface.csv